{{ $currentPage := . }}
{{ $pageUrl := $currentPage.RelPermalink }}
{{ $pageUrlNoSlash := strings.TrimRight "/" $pageUrl }}
{{ $pageUrlWithSlash := printf "%s/" $pageUrlNoSlash }}
{{ $topLevelItem := "" }}

{{ range site.Menus.main }}
  {{ $isCurrentTop := false }}
  
  {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
    {{ $isCurrentTop = true }}
  {{ end }}

  {{ if or (eq $pageUrlNoSlash (strings.TrimRight "/" .URL)) (eq $pageUrlWithSlash (printf "%s/" (strings.TrimRight "/" .URL))) }}
    {{ $isCurrentTop = true }}
  {{ end }}
  
  {{ range .Children }}
    {{ if or (eq $pageUrlNoSlash (strings.TrimRight "/" .URL)) (eq $pageUrlWithSlash (printf "%s/" (strings.TrimRight "/" .URL))) }}
      {{ $isCurrentTop = true }}
    {{ end }}
    {{ range .Children }}
      {{ if or (eq $pageUrlNoSlash (strings.TrimRight "/" .URL)) (eq $pageUrlWithSlash (printf "%s/" (strings.TrimRight "/" .URL))) }}
        {{ $isCurrentTop = true }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ if $isCurrentTop }}
    {{ $topLevelItem = . }}
  {{ end }}
{{ end }}

{{ if $topLevelItem }}
  {{ if $topLevelItem.HasChildren }}
    <nav class="local-menu-nav">
      <details class="local-menu-details">
        <summary class="local-menu-title">
          <span>{{ $topLevelItem.Name }}</span>
          <svg class="local-menu-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
        </summary>
        <div class="local-menu-content">
          <ul class="local-menu-list">
            {{ template "local-menu-tree" dict "menu" $topLevelItem.Children "pageUrlNoSlash" $pageUrlNoSlash "level" 0 }}
          </ul>
        </div>
      </details>
    </nav>
  {{ end }}
{{ end }}

{{ define "local-menu-tree" }}
  {{ $pageUrlNoSlash := .pageUrlNoSlash }}
  {{ $level := .level }}
  
  {{ range .menu }}
    {{ $itemUrlNoSlash := strings.TrimRight "/" .URL }}
    {{ $isActive := eq $pageUrlNoSlash $itemUrlNoSlash }}
    
    <li class="local-menu-item level-{{ $level }}">
        <a href="{{ .URL | absLangURL }}" class="local-menu-link {{ if $isActive }}active{{ end }}">
            {{ .Name }}
        </a>
        {{ if .HasChildren }}
          <ul class="local-menu-sublist">
            {{ template "local-menu-tree" dict "menu" .Children "pageUrlNoSlash" $pageUrlNoSlash "level" (add $level 1) }}
          </ul>
        {{ end }}
    </li>
  {{ end }}
{{ end }}
